h1{ 
    color: blue;
    font-family:'Times New Roman', Times, serif;
  }
p{
    color: darkblue;
    background-color:ghostwhite;
    padding: 15px;
    border: 10px solid palegreen;
    margin: 20px;
 }